{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Поиск заявителя</h1>
        <form method="GET">
        {{ filter.form.as_p }}
        <input type="submit"/>
        </form>
        <h2>Список заявителей</h2>
            {% for obj in filter.qs %}
                {% if forloop.first or forloop.last %}
                    <p>{{ forloop.counter }}</p>
                    <a href="{% url 'core:person_detail' obj.id%}">Данные заявителя</a>
                                                            <h6>Фамилия: {{ obj.surname }}<br>
                                                            Имя: {{ obj.name }}<br>
                                                            Отчество: {{ obj.patronymic }}<br>
                                                            Дата рождения: {{ obj.date }}<br>
                                                            Номер телефона: {{ obj.phone }}<br>
                                                            Состояние здоровья: {{ obj.health }}<br>
                                                            Пол: {{ obj.gender }}<br></h6>
                <hr>
                {% else %}
                <p>{{ forloop.counter }}</p>
                <a href="{% url 'core:person_detail' obj.id%}">Данные заявителя</a><br>
                                             Фамилия: {{ obj.surname }}<br>
                                             Имя: {{ obj.name }}<br>
                                             Отчество: {{ obj.patronymic }}<br>
                                             Дата рождения: {{ obj.date }}<br>
                                             Номер телефона: {{ obj.phone }}<br>
                                             Состояние здоровья: {{ obj.health }}<br>
                                             Пол: {{ obj.gender }}<br />
                <hr>
            {% endif %}
            {% endfor %}
    </div>
{#    <div>#}
{#    <h1>Список всех заявителей</h1>#}
{#        {% for person in all_persons %}#}
{#            {% if forloop.first or forloop.last %}#}
{#                <h3>{{ forloop.counter }} - {{ person }}</h3>#}
{#            {% else %}#}
{#                <p>{{ forloop.counter }} - {{ person }}</p>#}
{#            <hr>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}
