{% extends "base.html" %}

{% block content %}
        <h3>Для получения данных заявителя, введите его номер телефона</h3>
        <label>Введите номер</label>
    <form method="GET">
        <input type="text" name="phone">
        <input type="submit" value="Получить">
    </form>
     <div>
    <h3>Ваши данные</h3>
        <p>Фамилия: {{ phone.surname|default:"-" }}</p>
        <p>Имя: {{ phone.name|default:"-" }}</p>
        <p>Отчество: {{ phone.patronymic|default:"-" }}</p>
        <p>Дата рождения: {{ phone.data|date:"d-m-Y" |default:"-" }}</p>
        <p>Пол: {{ phone.gender|default:"-"|lower }}</p>
        <p>Номер телефона: {{ phone.phone|default:"-" }}</p>
    </div>
{% endblock %}