{% extends "base.html" %}

{% block content %}
    <h1>Поиск обращений</h1>
    <div>
            <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
            </form>
        <h2>Список происшествий и задействованных экс/служб</h2>
        {% for obj in filter.qs %}
            Дата обращения: {{ obj.date }}<br>
            Номер обращения: {{ obj.number }}<br>
            Количество пострадавших: {{ obj.victims }}<br>
            Задействованные службы: {{ obj.service.all|join:" , "|upper|default:'-' }}<br/>
            ФИО заявителя: {{ obj.applicant.surname|default:'-'  }} {{ obj.applicant.name|default:''  }} {{ obj.applicant.patronymic|default:''  }}<br>
            <hr>
        {% endfor %}
    </div>
       <div>
        <h4>Среднее кол-во обращений: {{ service_count|floatformat }}</h4>
        <footer>Всего обращений: {{ incidents|length  }}</footer>
       <hr>
    </div>
{% endblock %}